<!DOCTYPEhtml>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Quotes to Scrape App</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    <main class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'quoteapp:main' %}">Quotes to Scrape</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quoteapp:add_author' %}">Add Author</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'quoteapp:add_quote' %}">Add Quote</a>
                        </li>
                        
                    </ul>
                        <a href="#" class="btn btn-warning " role="button" style="margin-right: 10px">Scrap</a>
                    {% if user.is_authenticated %}
                        
                        <a href="{% url 'users:logout' %}" class="btn btn-danger margin-right: 10px" style="margin-right: 10px"role="button">Logout</a>
                    {% else %}
                        <a href=" {% url 'users:login' %}" class="btn btn-success margin-right: 10px" style="margin-right: 10px" role="button">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% block content %} {% endblock %}
    </main>
</body>
</html>
